<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead"><em>采集管理</em></div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">采集列表</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-crawl" title="采集">
                            <i class="fa fa-download"></i> 采集
                        </a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    require(['jquery', 'bootstrap', 'backend', 'table', 'form'], function ($, undefined, Backend, Table, Form) {
        var Controller = {
            index: function () {
                // 初始化表格参数配置
                Table.api.init({
                    extend: {
                        index_url: 'collect/index',
                        add_url: '',
                        edit_url: '',
                        del_url: '',
                        multi_url: '',
                    }
                });

                var table = $("#table");

                // 初始化表格
                table.bootstrapTable({
                    url: $.fn.bootstrapTable.defaults.extend.index_url,
                    columns: [
                        [
                            {field: 'name', title: '资源名称'},
                            {field: 'diskLink', title: '网盘链接'},
                            {field: 'linkPass', title: '链接密码'},
                            {field: 'createTime', title: '创建时间', operate: 'RANGE', addclass: 'datetimerange', formatter: Table.api.formatter.datetime},
                            {field: 'operate', title: __('Operate'), table: table, events: Table.api.events.operate, formatter: Table.api.formatter.operate}
                        ]
                    ]
                });

                // 采集按钮事件
                $(document).on("click", ".btn-crawl", function () {
                    Layer.confirm('确认开始采集吗？', {icon: 3, title: __('提示')}, function (index) {
                        Layer.load();
                        $.ajax({
                            url: 'collect/crawl',
                            type: 'post',
                            dataType: 'json',
                            success: function (response) {
                                Layer.closeAll('loading');
                                if (response.code) {
                                    Layer.msg(response.msg, {icon: 1});
                                    table.bootstrapTable('refresh');
                                } else {
                                    Layer.alert(response.msg, {icon: 2});
                                }
                            },
                            error: function (xhr) {
                                Layer.closeAll('loading');
                                Layer.alert('系统错误', {icon: 2});
                            }
                        });
                        Layer.close(index);
                    });
                });

                // API对象
                var api = {
                    formatter: {
                        // 自定义格式化方法
                    }
                };
                return api;
            }
        };
        return Controller;
    });
</script> 